{% extends 'duties/index.html' %}
{% load index %}
{% block content %}
  <div class="calendar-page">
    <div class="calendar-wrapper">
      {% for year in calendar %}
        <div class="calendar-year">
          <div class="calendar-year-num">{{ year.year }}</div>
          {% for month in year.calendar %}
            {% with month_num=forloop.counter %}
              <div class="calendar-month">
                <div class="calendar-month-name separation-line">{{ year.month_name|index:month_num }}</div>
                <div class="calendar-weekheader separation-line">
                  {% for weekday in year.weekheader %}
                    <div class="calendar-weekday">{{ weekday }}</div>
                  {% endfor %}
                </div>
                {% for week in month %}
                  <div class="calendar-week separation-line">
                    {% for date in week %}
                      {% if not date %}
                        <div class="calendar-date">&nbsp;</div>
                      {% elif date.person %}
                        <div class="calendar-date {{ date.person.name_slug }}">{{ date.date.day }}</div>
                      {% else %}
                        <div class="calendar-date">{{ date.date.day }}</div>
                      {% endif %}
                    {% endfor %}
                  </div>
                {% endfor %}
              </div>
            {% endwith %}
          {% endfor %}
        </div>
      {% endfor %}
    </div>
    <div class="panel-wrapper">
      <div class="panel-highlight">
        <div class="btn-group-vertical btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-primary active"><input type="checkbox">Все</label>
          {% for person in duty_persons %}
            <label class="btn btn-primary" data-person-color="{{ person.color }}">
              <input type="checkbox">{{ person.full_name }}
            </label>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
