{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{{ site_name }}{% endblock title %}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'duties/css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'duties/css/style.css' %}">
</head>
<body>
  <header>
    {% block header %}
      <div class="logo"><h5><b>{{ logo }}</b></h5></div>
      <div class="title"></div>
      <div class="user"></div>
      {% if request.user.is_authenticated %}
        <span>
          <a href="{% url 'admin:index' %}" title="Edit licenses">
            <img id="button-edit" alt="image-edit" src="{% static 'duties/img/edit.svg' %}">
          </a>
        </span>
        <span id="user-full-name">{{ request.user.get_full_name }}</span>
        <span>
          <a href="{% url 'duties:auth' action='logout' %}" title="Logout">
            <img id="button-logout" alt="image-logout" src="{% static 'duties/img/log-out.svg' %}">
          </a>
        </span>
      {% endif %}
    {% endblock header %}
  </header>
  <main>{% block content %}{% endblock content %}</main>
  <script src="{% static 'duties/js/jquery-3.4.1.min.js' %}"></script>
  <script src="{% static 'duties/js/bootstrap.min.js' %}"></script>
</body>
</html>
