{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{{ site_name }}{% endblock title %}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'duties/css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'duties/css/style.css' %}">
</head>
<body>
  <header>
    {% block header %}
      <div class="logo"><h5><b>{{ logo }}</b></h5></div>
      <div class="title"></div>
      <div class="user"></div>
    {% endblock header %}
  </header>
  <main>{% block content %}{% endblock content %}</main>
  <script src="{% static 'duties/js/jquery-3.4.1.min.js' %}"></script>
  <script src="{% static 'duties/js/bootstrap.min.js' %}"></script>
</body>
</html>
